@import "~assets/variables";
@cumm-form-padding-right: 45px;
.inventory {
  width: 700px;

  @media (max-width: 991px) {
    width: 300px;
  }

  .title-bar {
    padding-right: @cumm-form-padding-right;
    h3 {
      border-bottom: 1px @orange-border solid;
    }
  }

  @media (max-width: 991px) {
    .title-bar {
      padding-right: 0;
    }
  }

  .operation-type {
    span {
      margin-right: 5px;
      input {
        margin-right: 5px;
      }
    }
  }
  input[type=text],
  input[type=number],
  select
  {
    width: 300px;
  }

  select {
    height: 26px;
  }

  select[multiple] {
    height: auto;
  }


  .search-box {
    padding-right: 35px;
    input {
      width: 100%;
    }
  }


  @media (max-width: 991px) {
    .search-box{
      input{
        width: 300px;
      }
    }
  }

  .error {
    color: darkred;
  }

  .button-bar {
    margin-top: 30px;
  }

  @media (min-width: 992px) {
    .button-bar {
      padding-right: @cumm-form-padding-right;
    }
  }

  @media (max-width: 991px) {
    .button-bar {
      padding-right: 15px;
    }
  }

  sassy-color-list {
    text-align: inherit;
  }

}

